In [1]:
# Import dependencies
import requests
import json
from config import api_key, email
from pprint import pprint

import time
import os
import pandas as pd
import statistics as st

In [2]:
# Set variables to use with the URL
url_base = "https://aqs.epa.gov/data/api/annualData/byState"
param = "&param=42101,42401,42602,44201,88101"
api_key_value = "&key=" + api_key
dates = "&bdate=20200101&edate=20201231&"
state = "state="
email_address = "?email=" + email
query_url = url_base + email_address + api_key_value + param + dates + state

In [3]:
final_dict = {'State': [], 'Ozone': [], 'NO2': [], 'SO2': [], 'CO': [], 'PM 2.5': []}

In [6]:
# For loop to loop through the data by state code
for i in range(1,10):
    if i in [2, 3, 7]:
        continue
     
    aqi_response = requests.get(f"{query_url}0{i}")
    aqi_json = aqi_response.json()
    data = aqi_json['Data']
    print(i)
    ozone = []
    no2 = []
    so2 = []
    co = []
    pm_2_5 = []
    for element in data:
        if element['parameter_code'] == '44201':
            ozone.append(element['arithmetic_mean'])
        elif element['parameter_code'] == '42602':
            no2.append(element['arithmetic_mean'])
        elif element['parameter_code'] == '42401':
            so2.append(element['arithmetic_mean'])
        elif element['parameter_code'] == '42101':
            co.append(element['arithmetic_mean'])
        elif element['parameter_code'] == '88101':
            pm_2_5.append(element['arithmetic_mean'])
    ozone_avg =max(ozone)
    no2_avg = max(no2)
    so2_avg = max(so2)
    co_avg = max(co)
    pm_2_5_avg = max(pm_2_5)
    final_dict['State'].append(i)
    final_dict['Ozone'].append(ozone_avg)
    final_dict['NO2'].append(no2_avg)
    final_dict['SO2'].append(so2_avg)
    final_dict['CO'].append(co_avg)
    final_dict['PM 2.5'].append(pm_2_5_avg)

    time.sleep(10)

1
4
5
6
8
9

In [7]:
# For loop to loop through the data by state code
for i in range(10,57):
    if i in [14, 31, 43, 52, 54]:
        continue
     
    aqi_response = requests.get(f"{query_url}{i}")
    aqi_json = aqi_response.json()
    data = aqi_json['Data']
    print(i)
    ozone = []
    no2 = []
    so2 = []
    co = []
    pm_2_5 = []
    for element in data:
        if element['parameter_code'] == '44201':
            ozone.append(element['arithmetic_mean'])
        elif element['parameter_code'] == '42602':
            no2.append(element['arithmetic_mean'])
        elif element['parameter_code'] == '42401':
            so2.append(element['arithmetic_mean'])
        elif element['parameter_code'] == '42101':
            co.append(element['arithmetic_mean'])
        elif element['parameter_code'] == '88101':
            pm_2_5.append(element['arithmetic_mean'])
    ozone_avg = max(ozone)
    no2_avg = max(no2)
    so2_avg = max(so2)
    co_avg = max(co)
    pm_2_5_avg = max(pm_2_5)
    final_dict['State'].append(i)
    final_dict['Ozone'].append(ozone_avg)
    final_dict['NO2'].append(no2_avg)
    final_dict['SO2'].append(so2_avg)
    final_dict['CO'].append(co_avg)
    final_dict['PM 2.5'].append(pm_2_5_avg)

    time.sleep(10)

10
11
12
13
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
32
33
34
35
36
37
38
39
40
41
42
44
45
46
47
48
49
50
51
53
55
56

In [8]:
## AQI DataFrame by State and Parameter

final_df = pd.DataFrame(final_dict)

In [9]:
final_df.head()

   State     Ozone        NO2        SO2        CO     PM 2.5
0      1  0.045526  22.978000   4.673446  0.345078  10.016438
1      4  0.057240  38.920330  12.117582  0.684723  17.213333
2      5  0.043364  17.477596   1.180055  0.287533   9.809836
3      6  0.074551  43.779130   3.285256  0.620842  40.764417
4      8  0.065656  43.903683   2.054972  0.437755  10.486665

In [10]:
final_df.dtypes

State       int64
Ozone     float64
NO2       float64
SO2       float64
CO        float64
PM 2.5    float64
dtype: object

In [11]:
# Write a state name URL
state_base = "https://aqs.epa.gov/data/api/list/states"
api_key_value = "&key=" + api_key
email_address = "?email=" + email
state_url = state_base + email_address + api_key_value

In [12]:
## Call state name data to merge with final_df

state_dict = {'State': [], 'State Name': []}
state_name = []
    
aqi_response = requests.get(state_url)
state_json = aqi_response.json()
pprint (state_json)

{'Data': [{'code': '01', 'value_represented': 'Alabama'},
          {'code': '02', 'value_represented': 'Alaska'},
          {'code': '04', 'value_represented': 'Arizona'},
          {'code': '05', 'value_represented': 'Arkansas'},
          {'code': '06', 'value_represented': 'California'},
          {'code': '08', 'value_represented': 'Colorado'},
          {'code': '09', 'value_represented': 'Connecticut'},
          {'code': '10', 'value_represented': 'Delaware'},
          {'code': '11', 'value_represented': 'District Of Columbia'},
          {'code': '12', 'value_represented': 'Florida'},
          {'code': '13', 'value_represented': 'Georgia'},
          {'code': '15', 'value_represented': 'Hawaii'},
          {'code': '16', 'value_represented': 'Idaho'},
          {'code': '17', 'value_represented': 'Illinois'},
          {'code': '18', 'value_represented': 'Indiana'},
          {'code': '19', 'value_represented': 'Iowa'},
          {'code': '20', 'value_represented': 'Kansas'},
          {'code': '21', 'value_represented': 'Kentucky'},
          {'code': '22', 'value_represented': 'Louisiana'},
          {'code': '23', 'value_represented': 'Maine'},
          {'code': '24', 'value_represented': 'Maryland'},
          {'code': '25', 'value_represented': 'Massachusetts'},
          {'code': '26', 'value_represented': 'Michigan'},
          {'code': '27', 'value_represented': 'Minnesota'},
          {'code': '28', 'value_represented': 'Mississippi'},
          {'code': '29', 'value_represented': 'Missouri'},
          {'code': '30', 'value_represented': 'Montana'},
          {'code': '31', 'value_represented': 'Nebraska'},
          {'code': '32', 'value_represented': 'Nevada'},
          {'code': '33', 'value_represented': 'New Hampshire'},
          {'code': '34', 'value_represented': 'New Jersey'},
          {'code': '35', 'value_represented': 'New Mexico'},
          {'code': '36', 'value_represented': 'New York'},
          {'code': '37', 'value_represented': 'North Carolina'},
          {'code': '38', 'value_represented': 'North Dakota'},
          {'code': '39', 'value_represented': 'Ohio'},
          {'code': '40', 'value_represented': 'Oklahoma'},
          {'code': '41', 'value_represented': 'Oregon'},
          {'code': '42', 'value_represented': 'Pennsylvania'},
          {'code': '44', 'value_represented': 'Rhode Island'},
          {'code': '45', 'value_represented': 'South Carolina'},
          {'code': '46', 'value_represented': 'South Dakota'},
          {'code': '47', 'value_represented': 'Tennessee'},
          {'code': '48', 'value_represented': 'Texas'},
          {'code': '49', 'value_represented': 'Utah'},
          {'code': '50', 'value_represented': 'Vermont'},
          {'code': '51', 'value_represented': 'Virginia'},
          {'code': '53', 'value_represented': 'Washington'},
          {'code': '54', 'value_represented': 'West Virginia'},
          {'code': '55', 'value_represented': 'Wisconsin'},
          {'code': '56', 'value_represented': 'Wyoming'},
          {'code': '66', 'value_represented': 'Guam'},
          {'code': '72', 'value_represented': 'Puerto Rico'},
          {'code': '78', 'value_represented': 'Virgin Islands'},
          {'code': '80', 'value_represented': 'Country Of Mexico'},
          {'code': 'CC', 'value_represented': 'Canada'}],
 'Header': [{'request_time': '2024-02-17T15:10:44-05:00',
             'rows': 56,
             'status': 'Success',
             'url': 'https://aqs.epa.gov/data/api/list/states?email=alexandriaorvis@gmail.com&key=greyfrog65'}]}

In [13]:
# Get state name and codes from the state_json response
state_code = [row['code'] for row in state_json['Data']]
state_name = [row['value_represented'] for row in state_json['Data']]

# Make a DataFrame with the state codes and names
state_df = pd.DataFrame({"State": state_code, "State Name": state_name})

In [14]:
# Delete canada because it can't be converted to an integer
no_can_state_df=state_df.drop(55)

In [15]:
# Convert state code to an integer to prepare for a merge with the final_df
no_can_state_df['State'] = no_can_state_df['State'].astype(int)

In [16]:
#Check column types 
final_df.dtypes

State       int64
Ozone     float64
NO2       float64
SO2       float64
CO        float64
PM 2.5    float64
dtype: object

In [17]:
no_can_state_df.dtypes

State          int64
State Name    object
dtype: object

In [19]:
final_state_df = pd.merge(final_df, no_can_state_df, on='State')

In [20]:
final_state_df = final_state_df[['State', 'State Name',	"Ozone", "NO2", "SO2", "CO", "PM 2.5"]]
final_state_df.head()

   State  State Name     Ozone        NO2        SO2        CO     PM 2.5
0      1     Alabama  0.045526  22.978000   4.673446  0.345078  10.016438
1      4     Arizona  0.057240  38.920330  12.117582  0.684723  17.213333
2      5    Arkansas  0.043364  17.477596   1.180055  0.287533   9.809836
3      6  California  0.074551  43.779130   3.285256  0.620842  40.764417
4      8    Colorado  0.065656  43.903683   2.054972  0.437755  10.486665

In [21]:
# Save this dataframe as a CSV
final_state_df.to_csv('../Resources/max_aqi_csv.csv', index=False)